.fas{
       font-size: 18pt;
       padding-left:20px
}
.my-bg{
background:#1591eb}
header{
    background: #1591eb;
    color: #fff;
    border-bottom: 1px #0b6cb3 solid;
 }
header .site_description {
    color: #FF0;
    font-size: 18px;
    line-height: 0.1;
    margin: auto;
    padding: 10px 0px 10px 0px;
}
header h1, header .site_name {
    color: #FFF;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    margin: auto;
    padding: 10px 0px 10px 0px;
}
 footer{
    background: #1591EB;
    color:#fff;
    padding:10px
 }
 footer a{
    text-decoration: none;
 }
#user-tools {
    font-weight: 300;
    font-size: 11px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: right;
    line-height:36px
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255 255 255) !important;
    padding: 20px;
}
.navbar-dark .navbar-nav .nav-link:hover,.navbar-dark .navbar-nav .nav-link.active{
    background: linear-gradient(to bottom,#82b2dc 0%,#428BCA 100%) !important;
}
.navbar {
    padding-top: 0;
    padding-bottom: 0;
    border-top: 1px #d5cece solid
}
#user-tools a:link, #user-tools a:visited {
    color: #fff !important;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
#user-tools a:hover{
    color:#c4dce8 !important
}
.breadcrumbs {
    background: #79aec8;
    padding: 10px 0;
    border: none;
    font-size: 14px;
    color: #c4dce8;
    text-align: left;
    }
  div.breadcrumbs a {
    color: #fff;
    text-decoration: none;
}
div.breadcrumbs a:hover{
color: rgb(196, 220, 232);
}
#search{
    padding:20px 0
}
.update:link{
text-decoration:none !important;
padding:5px;
white-space: nowrap;
}
.results table a{
text-decoration:none !important
}
#link-danger {
    color: #dc3545 !important;
}
#link-success {
    color: #198754 !important;
}
