{% extends "boss/base.html" %}
{% block title %}Index{% endblock %}

{% block content %}
<input class="form-control" id="myInput" type="text" placeholder="Tìm..">
<div style="overflow-x:auto;">
    <table class="table table-striped table-hover js-sort-table table-responsive">
    <thead class="sticky-top bg-light" style="z-index:5">
        <tr>
            <th>Major</th>
            <th>Identity</th>
            <th>Name</th>
            <th>Email</th>
            <th>Attachment</th>
            <th>Status</th>
            <th>Active</th>
        </tr>
    </thead>
    <tbody id="myTable">
        {% for row in info %}  
        <tr>
            <td>{{ row.major }}</td>
            <td>{{ row.Identity }}</td>
            <td>{{ row.fname }} {{row.lname}}</td>
            <td>{{ row.email }}</td>
            <td><i class="fas fa-file-pdf"></i>{{ row.attachment}}</td>
            <td>{{ row.status }}</td>
            <td>
                <a class="btn btn-success text-light" href="{% url 'boss:sendmail' row.Identity %}">Send mail</a>
            </td>
        </tr>
        {%endfor%}
    </tbody>
</table>
<a class="btn btn-success text-light" href="{% url 'boss:sendmail' 'all'  %}">Send All</a>
</div>
{% endblock %}