{% extends "boss/base.html" %}
{% block title %}Index{% endblock %}

{% block content %}
<input class="form-control" id="myInput" type="text" placeholder="Tìm..">
<div style="overflow-x:auto;">
    <table class="table table-striped table-hover js-sort-table table-responsive">
    <thead class="sticky-top bg-light" style="z-index:5">
        <tr>
            <th>Major</th>
            <th>Identity</th>
            <th>Name</th>
            <th>Email</th>
            <th>Attachment</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody id="myTable">
        {% for row in info %}  
        <tr>
            <td>{{ row.major }}</td>
            <td>{{ row.Identity }}</td>
            <td>{{ row.fname }} {{row.lname}}</td>
            <td>{{ row.email }}</td>
            <td><i class="fas fa-file-pdf text-secondary"></i> 
                {% if row.wpdf == 1%}
                <a class="text-dark" href="{% url 'boss:viewpdf' row.attachment %}" target="_blank">{{ row.attachment}}</a> 
                {% else %}
                - 
                {% endif %}
            </td>
            <td>{% if row.status == 1%}
                Send 
                {% else %}
                unsent
                {%endif%}</td>
        </tr>
        {%endfor%}
    </tbody>
</table>
<a href="{% url 'boss:updatesend' %}" class="btn btn-success">Send Mail</a>
</div>
{% endblock %}